<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Glasier Wellness Inc." />
    <meta property="og:description" content="Glasier Wellness Inc. is the best pharmaceutical company in Ahmedabad, India was established on March 3, 2015. we provide Pharmaceutical Tablets, Pharma Tablet &amp; Pharmaceutical Cream Wholesale Supplier offered from Gujarat, India" />
    <meta property="og:site_name" content="Glasier Wellness Inc" />
    <meta property="og:url" content="https://api.glasierwellness.com/"/>
    <meta property="og:image" itemProp="image" content="/og-image-logo.jpg" />
    <meta property="og:image:width" content="536">
    <meta property="og:image:height" content="523">
    <meta property="og:image:type" content="image/png"/>
    <meta name="description" content="Glasier Wellness Inc. is the best pharmaceutical company in Ahmedabad, India was established on March 3, 2015. we provide Pharmaceutical Tablets, Pharma Tablet &amp; Pharmaceutical Cream Wholesale Supplier offered from Gujarat, India" />
    <link rel="icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <meta name="msapplication-TileImage" content="/favicon.png" />
    
    <title>Glasier Wellness Inc.</title>
    
  </head>
  <body>
    <div id="root">
      
    </div>
  </body>
</html>
